---
layout: default
title: Changelog
---
<div class="container-fluid bg-white text-black blog">
  <div class="container">
    <div class="row pb-4 pt-4">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h4>Changelog</h4>
        </div>
        <div class="col-md-8">
          {% for month in site.data.changelog_months.months %}
          <div class="change-meta">{{ month | date: "%B, %Y" }}</div>
          <div class="changes">
            {% assign month_key = month | date: "%Y-%m" %}
            {% for change in site.data.changelogs[month_key] %}
              <div class="row pb-2">
                <div class="col-sm-3">
                  <span class="category">{{change.kind}}</span>
                </div>
                <div class="col-sm-9 item medium">{{ change.name }}</div>
              </div>
              <div class="row">
                <div class="col-sm-9 offset-sm-3">
                  {{ change.body_html }}
                </div>
              </div>
            {% endfor %}
          </div>
          {% endfor %}
          <div class="col-9 offset-3">
            <a href="https://support.controlshiftlabs.com/hc/en-us/sections/201055528-What-s-New" class="text-center">Read More →</a>
            <div class="regular">
              Check out historical product updates on our legacy changelog.
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
