---
layout: default
title: Action Network + ControlShift
---
<div class="container">
  {% include integrations/hero.html crm_name="Action Network" %}

  {% include key-features.html %}
</div>

<div class="container-fluid bg-white text-black">
  {% include integrations/unlocks.html crm_name="Action Network" %}

  <div class="row pb-4 pt-4 bg-light justify-content-center">
    {% include integrations/how-it-works.html crm_name="Action Network" %}
    {% include integrations/integration-illustration.html logo_file_name="logo-actionnetwork.png" %}
  </div>

  <div class="row mt-4" id="selling-points-2">
    {% include integrations/other-tools.html crm_name="Action Network" %}
  </div>

  <hr class="mt-2"  />

  {% include integrations/selling-points.html %}

  {% include get-in-touch.html %}
</div>
