---
layout: default
title: Engaging Networks + ControlShift
---
<div class="container">
  <div class="row mt-md-4 mt-2 hero" id="hero">
    <div class="col-lg-5">
      <h1>
        Engaging Networks plus ControlShift.
        <span class="highlight">Campaigns into movements.</span>
      </h1>
      <p class="description">ControlShift is the best software for putting people at the center of your campaigns with distributed events, local groups, and member-led petitions.</p>
      <a role="button" class="btn btn-primary lets-talk" href="https://go.controlshift.app/signups/new">Sign Up</a>
    </div>
    <div id="hero-image-xl" class="row-full">
      <img src="/assets/images/home/hero.svg" alt="" />
    </div>
  </div>

  {% include key-features.html %}
</div>

<div class="container-fluid bg-white text-black">
  <div class="row pb-4 pt-4 justify-content-center bg-white">
    <div class="col-md-6">

        <p>
          ControlShift unlocks new organizing tactics for Engaging Networks customers. We build on top of the foundation
          that Engaging Networks offers out of the box to help turn your members into leaders.
        </p>

        <p>
          We are on a mission to change the way that advocacy organizations work and help our customers transition from
          simply mobilizing their supporters to action to organizing and supporting them as leaders as part of your cause.
        </p>

        <ul>
          <li>
            <strong>Distributed Events</strong>
            Allow your supporters to organize their own zoom calls, phone banks, canvasses, house parties or community meetings.
          </li>
          <li>
            <strong>Local Groups</strong>
            Organize your supporters into geographic teams that organize offline. Each team can communicate internally
            and host events or petitions, while your organization manages all of the local activity.
          </li>
          <li>
            <strong>Member Led Petitions</strong>
            Allow your supporters to start their own campaigns to drive list growth and impact locally.
          </li>
        </ul>

    </div>
  </div>

  <div class="row pb-4 pt-4 bg-light justify-content-center">
    <div class="col-md-8">
      <h4>How does ControlShift work with EngagingNetworks?</h4>
      <p>
        We seamlessly sync supporters in real-time as they take action. There is no need
        for manual data entry or messy and time consuming CSV imports.
      </p>

      <p>
        Within Engaging Networks, you'll be able to see which campaigns supporters have taken action on and immediately send
        emails targeting them based on the campaigns they've participated in on ControlShift.
      </p>

    </div>
    <div class="col-md-8">
      <div class="graphic-people-container">
        <div class="graphic-people" id="people-migration">
          <img src="/assets/images/migration.svg" alt>

        </div>

        <div class="graphic-people" id="crm-logo-migration">
          <img src="/assets/images/logos/logo-engaging-networks.png" alt>

        </div>

        <div class="graphic-people" id="controlshift-logo-migration">
          <img src="/assets/images/logos/logo.svg" alt>

        </div>
        <div class="dotted-border-bottom normal moving-dots"> </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" id="selling-points-2">
    <div class="col-md-4 selling-point">
      <img src="/assets/images/tools.svg" alt="" />
      <h5>Works with the rest of your tools too</h5>
      <p class="line-height-large">We integrate with your technology stack beyond Engaging Networks.</p>
    </div>

    {% include integrations/other-tools.html %}
  </div>

  <hr class="mt-2"  />

  <div class="row pb-4 pt-4 justify-content-center">
    <div class="col-md-8">

      <h5>Case Studies</h5>


      <div class="row ml-0 p-0 pb-1 pt-1">
        <div class="col-md-6 selling-point">
          <div class="mr-2">
            <h5><a href="https://www.controlshiftlabs.com/case-study/amnesty-ca/">Amnesty Canada</a></h5>
            <p>ControlShift combined with Engaging Networks allows Amnesty to organize Write for Rights, a distributed day of action on
              International Human Rights Day. Supporters host hundreds of events across Canada where volunteers write letters
              in support of prisoners of conscience.</p>
          </div>
        </div>

        <div class="col-md-4 selling-point">
        </div>
      </div>
    </div>


  </div>

  <hr class="mt-2"  />

  {% include integrations/selling-points.html %}

  {% include get-in-touch.html %}
</div>
