---
layout: default
title: Engaging Networks + ControlShift
---
<div class="container">
  {% include integrations/hero.html crm_name="Engaging Networks" %}

  {% include key-features.html %}
</div>

<div class="container-fluid bg-white text-black">
  {% include integrations/unlocks.html crm_name="Engaging Networks" %}

  <div class="row pb-4 pt-4 bg-light justify-content-center">
    {% include integrations/how-it-works.html crm_name="Engaging Networks" %}
    {% include integrations/integration-illustration.html logo_file_name="logo-engaging-networks.png" %}
  </div>

  <div class="row mt-4" id="selling-points-2">
    {% include integrations/other-tools.html crm_name="Engaging Networks" %}
  </div>

  <hr class="mt-2"  />

  <div class="row pb-4 pt-4 justify-content-center">
    <div class="col-md-8">

      <h5>Case Studies</h5>


      <div class="row ml-0 p-0 pb-1 pt-1">
        <div class="col-md-6 selling-point">
          <div class="mr-2">
            <h5><a href="https://www.controlshiftlabs.com/case-study/amnesty-ca/">Amnesty Canada</a></h5>
            <p>ControlShift combined with Engaging Networks allows Amnesty to organize Write for Rights, a distributed day of action on
              International Human Rights Day. Supporters host hundreds of events across Canada where volunteers write letters
              in support of prisoners of conscience.</p>
          </div>
        </div>

        <div class="col-md-4 selling-point">
        </div>
      </div>
    </div>


  </div>

  <hr class="mt-2"  />

  {% include integrations/selling-points.html %}

  {% include get-in-touch.html %}
</div>
