.idea
_site
.sass-cache
.jekyll-metadata
node_modules
assets
optimization-fix-this-file-is-ignored.js
yarn-error.log
.yarnclean
.yarn
.DS_Store
.jekyll-cache

# Local Netlify folder
.netlify

# Local VSCode folder
.vscode
