---
layout: page
title: About us
permalink: /about-us/
---

<div class="container">
  <div id="hero" class="mt-4 mb-5">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <p>About us</p>
        <h1>We're ControlShift.</h1>
        <p>
          We think that advocacy organizations, campaigns, and movements are more powerful when they invite everyone to participate.
          We build software in service of that vision, while also building a great place to do work that matters.
        </p>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-3">
        <img src="/assets/images/how_it_works/image-howitworks-hero-peeps.svg" class="img-fluid" alt="" />
      </div>
      <div class="row-full absolute d-none d-xl-block">
        <img class="" src="/assets/images/how_it_works/image-howitworks-hero-biker.svg" style="position: absolute; top: 40px;" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-white text-black">
  <div class="container p-0">
    <div class="row pb-4 pt-4">
      <div class="col-xs-12 offset-md-1 col-md-10">
        <div class="row ml-0 p-0 pb-3 pt-3">
          {% for fact in site.data.about_us %}
          <div class="col-md-4 selling-point">
            <div class="mr-2">
              <h5>{{fact.title}}</h5>
              <p>{{fact.detail}}</p>
            </div>
          </div>
          {% endfor %}
        </div>

        <h2>Work with Us</h2>

        <div class="example">
          <div class="row">
            <div class="col-md-8">
              <label>Full Stack Software Engineer</label>
              <p>
                Write code to support the work of progressive activists around the world.
              </p>
            </div>
            <div class="col-md-4">
              <a href="https://controlshift.breezy.hr/p/712ab7243fc8-growth-sales-and-organizing-associate" class="btn btn-secondary text-white">Apply</a>
            </div>

          </div>
        </div>

        <div class="row ml-0 p-0 pb-3  pt-3">
          {% for benefit in site.data.careers %}
          <div class="col-md-4 selling-point ">
            <div class="mr-2">
              <h5>{{benefit.title}}</h5>
              <p>{{benefit.detail}}</p>
            </div>
          </div>
          {% endfor %}
        </div>

        <h2 class="pt-1">Our Team</h2>

        <p>
          We're a small team of software engineers and organizers with several decades of combined experience in the advocacy sector.
          Our deep organizing and technology background, coupled with a close interest in our partners’
          campaigns and goals, lets us develop tools that are particularly useful in facilitating effective grassroots organizing
          and building strong and participatory organizations.
        </p>

          <img src="/assets/images/retreat.png" alt="Staff team photo" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>


