---
layout: page
title: How it works
permalink: /how-it-works/
---

<div class="container">
  <div id="hero" class="mt-4 mb-5">
    <div class="row">
      <div class="col-md-8">
      	<p>How it works</p>
      	<h1>Broadcast vs Distributed Organizing</h1>
      	<p>ControlShift Labs is committed to the idea that people should drive social movements, even when they happen online. With a distributed organizing model, your organization can leverage the power of your supporters by giving them the opportunity to start, run, and win their own campaigns. The distributed organizing model not only allows your organization to run more numerous and diverse campaigns, but it also leads to more involved and more active supporters.</p>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-3">
        <img src="/assets/images/how_it_works/image-howitworks-hero-peeps.svg" style="position: absolute; top: 40px;" />
      </div>
      <div class="row-full absolute d-none d-xl-block">
        <img class="" src="/assets/images/how_it_works/image-howitworks-hero-biker.svg" style="position: absolute; top: 40px;" />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-white text-black">
  <div class="container p-0">
    <div class="row">
      <div id="comparisons" class="mt-5 text-center">
        <div class="row comparison mt-3 mb-3 d-none d-sm-flex">
          <div class="col-md-5 comparison-left">
            <h4>Traditional Broadcast Organizing</h4>
            <img src="/assets/images/how_it_works/vector-traditional-organizing-main.svg" class="mb-2" />
          </div>
          <div class="col-md-2 comparison-versus"></div>
          <div class="col-md-5 comparison-right">
            <h4>Distributed Organizing</h4>
            <img src="/assets/images/how_it_works/vector-distributed-organizing-main.svg" class="mb-2" />
          </div>
        </div>
        <hr />

        {% for comparison in site.data.comparisons %}
          <div class="row comparison mt-3 mb-3">
            <div class="col-12">
              <div class="row">
                <div class="col-sm-5 comparison-left">
                  <h5 class="d-sm-none">Traditional Broadcast Organizing</h5>
                  <div class="mb-2">
                    <img src="/assets/images/how_it_works/vector-traditional-organizing-vs-{{comparison.name}}.svg" />
                  </div>
                  <p>{{comparison.traditional}}</p>
                </div>
                <div class="col-sm-2 comparison-versus mb-2">
                  <div class="mb-2 versus-spacer"></div>
                  VS
                </div>
                <div class="col-sm-5 comparison-right">
                  <h5 class="d-sm-none">Distributed Organizing</h5>
                  <div class="mb-2">
                    <img src="/assets/images/how_it_works/vector-distributed-organizing-vs-{{comparison.name}}.svg" />
                  </div>
                  <p>{{comparison.distributed}}</p>
                </div>
              </div>
            </div>
          </div>
          <hr />
        {% endfor %}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 ml-0 mb-2">
        <h3>Why Distributed Organizing?</h3>
      </div>
    </div>
    <div class="row ml-0 p-0 pb-3">
      {% for reason in site.data.reasons_why %}
        <div class="col-md-3 selling-point">
          <div class="mr-2">
            <img src="/assets/images/how_it_works/vector-why-distributed-{{reason.name}}.svg" />
            <h5>{{reason.title}}</h5>
            <p>{{reason.detail}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include page-footer.html %}
