---
layout: case-study
title: AMNESTY INTERNATIONAL (Canada)
org: amnesty-ca
org_color: '#ffff00'
permalink: /case-study/amnesty-ca/
next_case_study_title: Groundswell at Auburn Seminary
next_case_study_org: groundswell
---

{% include stats-bar.html org="amnesty-ca" %}

<div class="row">
  <div class="offset-md-2 col-md-8">
    <h1>Client Profile:</h1>
    <p>Amnesty is a global movement for human rights with chapters around the world. Amnesty members come together in their communities (schools, colleges, churches, etc) to campaign against human rights abuses, and to free prisoners of conscience.</p>

    <h2>The Problem</h2>
    <p>On International Human Rights Day Amnesty members around the world come together to write letters in support of prisoners of conscience. In Canada, Amnesty supporters organize letter writing meetups and house parties across the country. But organizing hundreds of simultaneous events is no easy task! The process has to be member-led, but closely moderated by national staff, on a very tight timeline from launch to rollout. Many of the most committed volunteers are older, and have limited technical experience, so in previous years staff had to devote substantial resources to providing technical support. And member data was getting lost between the event signups and Amnesty’s CRM, squandering opportunities for longer-term engagement.</p>

    <h2>The Solution</h2>
    <p>Amnesty partnered with ControlShift, and we helped them pull off a powerful national mobilization with hundreds of events created by their members, and vetted and supported by their staff.</p>
  </div>
</div>

{% include screen_image_with_caption.html org="amnesty-ca" caption="Member-led events accross Canada" %}

<div class="row">
  <div class="offset-md-2 col-md-8">
    <p>Members could easily search on an embeddable map to find if there was an event in their area, and either sign up or create a new one. The intuitive user interface, with bilingual support for English and French, meant that event members with limited technical ability were able to participate. Once events were created, hosts could message attendees and help them prepare for the event without needing to bother national staff. And thanks to an out-of-the-box sync with Amnesty’s CRM (Engaging Networks), member data was instantly imported for follow-up and future engagement.</p>

    <h2>The Outcome</h2>
    <p>Amnesty staged their most successful “write for rights” day in several years, with a substantial increase in the number of events and attendees. Most importantly, tens of thousands of letters were sent by Amnesty activists, highlighting critically important human rights cases around the world.</p>
    <p>Staff time was freed up to help support impactful events rather than troubleshooting tech issues, and several members provided feedback that the newly deployed software made a huge difference. Amnesty are now deploying ControlShift tools year-round to power events and local groups, helping their grassroots membership build on the success of Write for Rights with long-lasting organizing.</p>
  </div>
</div>
