---
layout: sector
title: Electoral
slug: electoral
permalink: /sector/electoral/
---

<div class="steps">
  <div class="row">
    <div class="col-md-6 first-line">
      <div class="vertical-line"></div>
    </div>
    <div class="col-md-6"></div>
  </div>

  <div class="row step">
    <div class="col-md-6 step-image center-image">
      <img src="/assets/images/sectors/electoral/mobilization.svg" class="img-fluid" alt="" />
    </div>
    <div class="col-md-6">
      <h4>Put your supporters to work</h4>
      <p class="step-description">
        Use volunteer canvasses, phone banks, and house parties scale your distributed field program beyond paid staff.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="vertical-line"></div>
    </div>
    <div class="col-md-6"></div>
  </div>

  <div class="row step">
    <div class="col-md-6 step-image center-image">
      <img src="/assets/images/sectors/electoral/tools.svg" class="img-fluid" alt="" />
    </div>
    <div class="col-md-6">
      <h4>Organize with distributed events</h4>
      <ul class="text-list step-description">
        <li>
          Manage hundreds of events, track contact and coaching of hosts, and ultimately ensure that supporters are turning out and having a great experience.
        </li>
        <li>
          Create templates for days of action or by event type.
        </li>
        <li>
          Empower event hosts to manage their events and message attendees.
        </li>
        <li>
          Admin interfaces for organizers to moderate content, track events, coach hosts, and measure success.
        </li>
        <li>
          Turf support for assigning organizers by geographic region.
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="vertical-line"></div>
    </div>
    <div class="col-md-6"></div>
  </div>

  <div class="row step">
    <div class="col-md-6 step-image center-image">
      <img src="/assets/images/sectors/electoral/networks.svg" class="img-fluid smaller" alt="" />
    </div>
    <div class="col-md-6">
      <h4>Build local teams</h4>
      <p class="step-description">Support local networks of committed volunteers with an online hub where they can communicate and sponsor events.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="vertical-line"></div>
    </div>
    <div class="col-md-6"></div>
  </div>

  <div class="row step pb-4">
    <div class="col-md-6 step-image center-image">
      <img src="/assets/images/sectors/electoral/crm.svg" class="img-fluid" alt="" />
    </div>
    <div class="col-md-6">
      <h4>Integrate with your CRM, VoteBuilder, and Mobilize</h4>

      <div class="d-flex align-items-center text-center" id="integration-images-container">
        {% include integrations/crm-grid.html %}
      </div>
    </div>
  </div>

  <div class="row mt-4">
    {% include integrations/other-tools.html crm_name="your CRM" %}
  </div>
</div>
</div>
</div>

<div class="container-fluid bg-light text-black">
  <div class="container">
    <div class="row pt-md-4 pt-2">
      <div class="col-md-6 col-lg-5 pr-3 mb-2 mb-sm-4">
        <h4>Put your campaign on the map</h4>
        <ul class="text-list">
          <li>
            Beautiful maps tell the story of your organizing.
          </li>
          <li>
            Combine events from EveryAction, VoteBuilder, Mobilize, and other tools on one map.
          </li>
          <li>
            Make it easy for supporters to find opportunities to get involved near them.
          </li>
          <li>
            Embed the map on your site or share a map with partners.
          </li>
        </ul>
        <a href="/2020/02/18/beautiful-maps-for-your-movement.html" class="btn btn-primary">Learn More About Maps</a>
      </div>
      <div class="col-md-6 col-lg-7 desktop-graphic">
        <img class="frame" src="/assets/images/devices/vector-desktop.svg" alt="" />
        <picture class="screen">
          <source srcset="/assets/images/home/event-local-screen.webp" type="image/webp">
          <img src="/assets/images/home/event-local-screen.png" alt="Example usage of distributed events"/>
        </picture>
      </div>
    </div>

    <div class="row mt-md-4 mt-2">
      <div class="col-md-6 col-lg-5 pr-3 mb-2 mb-sm-4">
        <h4>Powerful moderation and staff tools</h4>
        <ul class="text-list">
          <li>
            Carefully moderate events and other content created by volunteers.
          <li>
            Support for complex team structures, turf assignments, and fine-grained permissions.
          </li>
          <li>
            Work with partners and parties to recruit attendees.
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-7">
        <img src="/assets/images/sectors/electoral/moderation-queue.png" class="img-fluid" >
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-white text-black">
  <div class="container">
    <div class="row py-4">
      <div class="col-md-4 selling-point">
        {% include selling-points/reliability.html %}
      </div>
      <div class="col-md-4 selling-point">
        {% include selling-points/reach-everyone.html %}
      </div>
      <div class="col-md-4 selling-point">
        {% include selling-points/expertise.html %}
      </div>
    </div>

    <div class="row pb-4">
      <div class="col-md-4 selling-point">
        {% include selling-points/your-data.html %}
      </div>
      <div class="col-md-4 selling-point">
        {% include selling-points/branding.html %}
      </div>
    </div>
  </div>

</div>
