<div class="container-fluid">
  <div class="footer container p-0">
    <div class="row mt-3 mb-3">
      <div class="col-md-3">
        <span class="status-indicator"><i class="indicator none fa fa-circle"></i></span>
        <span class="status-description"></span>
      </div>
      <div class="col-md-3">
        <p>
          <a href="#">About Us</a><br />
          <a href="#">Blog</a><br />
          <a href="#">Support</a><br />
          <a href="#">Developers</a>
        </p>
      </div>
      <div class="col-md-3">
        <p>
          PO Box 380188<br />
          Brooklyn, NY 11238<br />
          <br />
          <a href="mailto:talk@controlshiftlabs.com">talk@controlshiftlabs.com</a>
        </p>
      </div>
      <div class="col-md-3">
        <p>Other products</p>
        <p><a href="https://visitthem.org"><img src="/assets/images/logo-visit-them.svg" /></a></p>
      </div>
    </div>
    <hr class="m-0" />
    <div class="row mt-1 mb-1">
      <div class="social-icons col-sm-6">
        <div class="float-left">
          <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-facebook fa-fw"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-medium fa-fw"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-twitter fa-fw"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-reddit fa-fw"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="bottom-links col-sm-6">
        <div class="float-right">
          <ul class="nav sub-footer">
            <li class="nav-item"><span class="nav-link">© ChangeSprout, Inc.</span></li>
            <li class="nav-item"><a href="#" class="nav-link">Security</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Privacy</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Terms</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
