<div class="container-fluid">
  <div class="footer container p-0">
    <div class="row mt-3 mb-3">
      <div class="col-md-6 col-lg-3 mb-2 mb-md-0">
        <p>
          <a href="/how-it-works">How It Works</a><br />
          <a href="/feature/campaigns/">Campaigns</a><br />
          <a href="/feature/events/">Events</a><br />
          <a href="/feature/groups/">Groups</a><br />
          <a href="/sector/advocacy/">Sectors</a><br />
        </p>
      </div>
      <div class="col-md-6 col-lg-3">
        <p>
          <a href="/about-us">About Us</a><br />
          <a href="https://medium.com/controlshift-organizer">Blog</a><br />
          <a href="https://controlshiftlabs.zendesk.com/hc/en-us">Support</a><br />
          <a href="https://developers.controlshiftlabs.com/">Developers</a>
        </p>
      </div>
      <div class="col-md-6 col-lg-3 ">
        <div class="status">
          <span class="status-indicator"><i class="indicator none fa fa-circle"></i></span>
          <span class="status-description"></span>
        </div>
        <p class="d-block d-sm-none d-lg-block">
          PO Box 380188<br />
          Brooklyn, NY 11238<br />
          <br />
          <a href="mailto:talk@controlshiftlabs.com">talk@controlshiftlabs.com</a>
        </p>
      </div>
      <div class="col-md-6 col-lg-3">
        <p>Other products</p>
        <p><a href="https://visitthem.org"><img src="/assets/images/logos/logo-visit-them.svg" /></a></p>
      </div>
    </div>
    <hr class="m-0" />
    <div class="row mt-1 mb-1">
      <div class="social-icons col-sm-6">
        <div class="float-left">
          <ul class="nav">
            <li class="nav-item"><a href="https://www.facebook.com/controlshiftlabs/" class="nav-link"><i class="fa fa-facebook fa-fw"></i></a></li>
            <li class="nav-item"><a href="https://medium.com/controlshift-organizer" class="nav-link"><i class="fa fa-medium fa-fw"></i></a></li>
            <li class="nav-item"><a href="https://twitter.com/controlshiftlab" class="nav-link"><i class="fa fa-twitter fa-fw"></i></a></li>
            <li class="nav-item"><a href="https://github.com/controlshift" class="nav-link"><i class="fa fa-github fa-fw"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="bottom-links col-sm-6">
        <div class="float-right">
          <ul class="nav sub-footer">
            <li class="nav-item"><span class="nav-link">© ChangeSprout, Inc.</span></li>
            <li class="d-block d-lg-none" style="width: 300px;"></li>
            <li class="nav-item"><a href="#" class="nav-link">Security</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Privacy</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Terms</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
