{% include newsletter-signup.html %}

<div class="container-fluid">
  <div class="footer container p-0">
    <div class="row mt-3 mb-3">
      <div class="col-md-6 col-lg-3 mb-2 mb-md-0">
        <p>
          <a href="/how-it-works">How It Works</a><br />
          <a href="/case-studies/">Case Studies</a><br />
          <a href="/feature/campaigns/">Campaigns</a><br />
          <a href="/feature/events/">Events</a><br />
          <a href="/feature/groups/">Groups</a><br />
          <a href="/sector/advocacy/">Sectors</a><br />
        </p>
      </div>
      <div class="col-md-6 col-lg-3">
        <p>
          <a href="/about-us">About Us</a><br />
          <a href="/blog">Blog</a><br />
          <a href="https://support.controlshiftlabs.com/">Support</a><br />
          <a href="https://developers.controlshiftlabs.com/">Developers</a>
        </p>
      </div>
      <div class="col-md-6 col-lg-3 ">
        <div class="status">
          <span class="status-indicator"><i class="indicator none icon-circle"></i></span>
          <span class="status-description"></span>
        </div>
        <p class="d-block d-sm-none d-lg-block">
          PO Box 380188<br />
          Brooklyn, NY 11238<br />
          <br />
          <a href="mailto:talk@controlshiftlabs.com">talk@controlshiftlabs.com</a>
        </p>
      </div>
      <div class="col-md-6 col-lg-3">
        <p>Other products</p>
        <p><a href="https://www.visitthem.org"><img src="/assets/images/logos/logo-visit-them.svg" alt="Visit Them" /></a></p>
      </div>
    </div>
    <hr class="m-0" />
    <div class="row mt-1 mb-1">
      <div class="social-icons col-sm-6">
        <div class="float-left">
          <ul class="nav">
            <li class="nav-item">
              <a href="https://www.facebook.com/controlshiftlabs/" class="nav-link" aria-label="Visit us on Facebook">
                <i class="icon-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://medium.com/controlshift-organizer" class="nav-link" aria-label="Read our posts on Medium">
                <i class="icon-medium" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://twitter.com/controlshiftlab" class="nav-link" aria-label="Visit us on Twitter">
                <i class="icon-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/controlshift" class="nav-link" aria-label="Visit our GitHub">
                <i class="icon-github" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="bottom-links col-sm-6">
        <ul class="nav sub-footer">
          <li class="nav-item copyright">© ChangeSprout, Inc.</li>
          <li class="d-block d-lg-none" style="width: 100%;"></li>
          <li class="nav-item"><a href="/privacy/" class="nav-link">Privacy</a></li>
          <li class="nav-item"><a href="/terms/" class="nav-link">Terms of Service</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
