<div class="row mt-4 mt-sm-5" id="key-features-tabs">
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
    <h2 class="text-center">Move your campaigns beyond broadcast</h2>
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs nav-justified border-0 feature-tabs" id="myTab" role="tablist">

          <li class="nav-item">
            <a class="nav-link" id="local-groups-tab" data-bs-toggle="tab" href="#local-groups" role="tab" aria-controls="local-groups" aria-selected="false">
              Local Groups
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" id="distributed-events-tab" data-bs-toggle="tab" href="#distributed-events" role="tab" aria-controls="distributed-events" aria-selected="true">
              Distributed Events
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="member-campaigns-tab" data-bs-toggle="tab" href="#member-campaigns" role="tab" aria-controls="member-campaigns" aria-selected="false">
              Member Petitions
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row mt-md-4 mt-2 feature-tabs">
  <div class="col-md-12">
    <div class="tab-content">
      <div class="tab-pane show active fade" id="distributed-events" role="tabpanel" aria-labelledby="distributed-events-tab">
        <div class="row">
          <div class="col-md-6 col-lg-5 pe-3 mb-2 mb-sm-4">
            <h4>Distributed Events</h4>
            <ul class="text-list">
              <li>
                Recruit supporters to host and attend events.
              </li>
              <li>
                Beautiful maps tell the story of your day of action.
              </li>
              <li>
                Tools for hosts to manage their event and message attendees.
              </li>
              <li>
                 Admin interfaces for organizers to track events, coach hosts & measure success.
              </li>
            </ul>
            <a href="/feature/events" class="btn btn-outline-primary mt-2 learn-more">Learn More About Distributed Events</a>
          </div>
          <div class="col-md-6 col-lg-7 desktop-graphic">
            <img class="frame" src="/assets/images/devices/vector-desktop.svg" alt="" />
            <picture class="screen">
              <source srcset="/assets/images/home/event-local-screen.webp" type="image/webp">
              <img src="/assets/images/home/event-local-screen.png" alt="Example usage of distributed events"/>
            </picture>
            <span class="overlay"></span>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="local-groups" role="tabpanel" aria-labelledby="local-groups-tab">
        <div class="row">
          <div class="col-md-6 col-lg-5 pe-3 mb-2 mb-sm-4">
            <h4>Local Organizing Teams</h4>
            <ul class="text-list">
              <li>
                Help your members to find their closest groups or organize a new one.
              </li>
              <li>
                Mailing lists and member directories allow for local coordination.
              </li>
              <li>
                Staff admin tools for coordinating your network of teams.
              </li>
              <li>
                Local groups grow through events they host and campaigns they create.
              </li>
            </ul>
            <a href="/feature/groups" class="btn btn-outline-primary mt-2 learn-more">Learn More About Local Groups</a>
          </div>
          <div class="col-md-6 col-lg-7 desktop-graphic">
            <img class="frame" src="/assets/images/devices/vector-desktop.svg" alt="" />
            <picture class="screen">
              <source srcset="/assets/images/home/local-groups-screen.webp" type="image/webp">
              <img src="/assets/images/home/local-groups-screen.png" alt="Example usage of local groups" />
            </picture>
            <span class="overlay"></span>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="member-campaigns" role="tabpanel" aria-labelledby="member-campaigns-tab">
        <div class="row">
          <div class="col-md-6 col-lg-5 pe-3 mb-2 mb-sm-4">
            <h4>Member Petitions</h4>
            <ul class="text-list">
              <li>
                Empower your supporters to launch their own petition campaigns.
              </li>
              <li>
                Transform national campaigns into locally led petitions with distributed targets and templated content.
              </li>
              <li>
                Petition creators become leaders when they message their supporters or recruit them to in-person events.
              </li>
              <li>
                Administrative features let your organization moderate, approve, and manage campaigns and leaders.
              </li>
            </ul>
            <a href="/feature/campaigns" class="btn btn-outline-primary mt-2 learn-more">Learn More About Member Campaigns</a>
          </div>
          <div class="col-md-6 col-lg-7 desktop-graphic">
            <img class="frame" src="/assets/images/devices/vector-desktop.svg" alt="" />
            <picture class="screen">
              <source srcset="/assets/images/home/member-campaigns-screen.webp" type="image/webp">
              <img src="/assets/images/home/member-campaigns-screen.png" alt="Example of a member driven campaign" />
            </picture>
            <span class="overlay"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
