<nav class="navbar navbar-expand-lg navbar-light p-1">
  <a class="navbar-brand" href="/"><img src="/assets/images/logos/logo.svg" class="img-fluid" alt="ControlShift Logo" /></a>
  <button class="navbar-toggler hamburger hamburger--spin js-hamburger" type="button" data-toggle="collapse" data-target="#mobileNavbar" aria-controls="mobileNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <div class="collapse mobile-navbar" id="mobileNavbar">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/feature/events/">Distributed Events</a></li>
      <li class="nav-item"><a class="nav-link" href="/feature/groups/">Local Groups</a></li>
      <li class="nav-item"><a class="nav-link" href="/feature/campaigns/">Member Campaigns</a></li>
      <li class="nav-item"><a class="nav-link" href="https://support.controlshiftlabs.com/">Support</a></li>
      <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
      <li class="nav-item"><a class="nav-link" href="/sector/advocacy">Sectors</a></li>
      <li class="nav-item"><a class="nav-link" href="/case-studies/">Case Studies</a></li>
      <li class="nav-item"><a class="nav-link" href="/how-it-works/">Why Distributed</a></li>
      <li class="nav-item"><a role="button" class="nav-link btn btn-outline-primary lets-talk white" href="https://go.controlshift.app/signups/new_for_location">Sign Up</a></li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item features-dropdown">
        <a class="nav-link no-padding" href="#">Features</a>
        <div class="dropdown-nav-container left">
          <div class="dropdown-nav">
            <a href="/feature/events/" class="menu-item">
              <div class="menu-item-image events"></div>
              <div class="menu-item-text">Distributed Events</div>
            </a>

            <a href="/feature/groups/" class="menu-item">
              <div class="menu-item-image groups"></div>
              <div class="menu-item-text">Local Groups</div>
            </a>

            <a href="/feature/campaigns/" class="menu-item">
              <div class="menu-item-image campaigns"></div>
              <div class="menu-item-text">Member Campaigns</div>
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link no-padding" href="https://support.controlshiftlabs.com/">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link no-padding" href="/blog">Blog</a>
      </li>
      <li class="nav-item how-it-works-dropdown">
        <a class="nav-link no-padding" href="/how-it-works">How It Works</a>
        <div class="dropdown-nav-container right">
          <div class="dropdown-nav">
            <a href="/sector/advocacy" class="menu-item">
              <div class="menu-item-image sectors"></div>
              <div class="menu-item-text">Sectors</div>
            </a>

            <a href="/case-studies/" class="menu-item">
              <div class="menu-item-image case-studies"></div>
              <div class="menu-item-text">Case Studies</div>
            </a>

            <a href="/how-it-works/" class="menu-item">
              <div class="menu-item-image why-distributed"></div>
              <div class="menu-item-text">Why Distributed</div>
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a role="button" class="nav-link btn btn-outline-primary lets-talk white" href="https://go.controlshift.app/signups/new_for_location">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
