<div class="container-fluid newsletter-signup">
  <div class="mt-2 mb-2 ml-1 mr-1">
    <form>
      <div class="form-group row">
        <label class="col-form-label email-label col-sm-4 col-md-5 col-xs-12" for="email">Get email updates</label>

        <div class="input-group col-sm-8 col-md-7 d-none d-sm-flex">
          <input type="email" name="email" class="form-control email-address" placeholder="Email address" aria-label="Email address">
          <div class="input-group-append">
            <input type="submit" class="btn btn-primary btn-subscribe" value="Subscribe">
          </div>
        </div>
        <div class="w-100 d-block d-sm-none">
          <input type="email" name="email" class="form-control email-address" placeholder="Email address" aria-label="Email address">
          <input type="submit" class="btn btn-primary btn-subscribe mt-1" value="Subscribe">
        </div>
      </div>
    </form>
  </div>

  <hr>
</div>
