<div class="container-fluid newsletter-signup">
  <div class="mt-2 mb-2 ms-1 me-1">
    <form action="/.netlify/functions/subscribe" method="post" name="mailchimp-subscribe-form" class="needs-validation" novalidate>
      <div class="row mb-3">
        <label class="form-label col-form-label email-label col-sm-4 col-md-5 col-12" for="mailchimp-email">Get email updates</label>

        <div class="col-sm-8 col-md-7 col-xs-12">
          <div class="input-group">
            <input type="email" id="mailchimp-email" name="email" required class="form-control email-address required email" placeholder="Email address" aria-label="Email address">
            <input type="submit" class="btn btn-primary btn-subscribe" value="Subscribe">
            <div class="invalid-feedback email-invalid-feedback">
            </div>
          </div>
        </div>

      </div>
      <div class="row justify-content-center">
        <div class="col-sm-7 col-md-6 col-12">
          <div class="mailchimp-success-message">

          </div>

          <div class="newsletter-disclaimer small text-center">
            This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.
          </div>
        </div>
      </div>
    </form>
  </div>

  <hr>
</div>
