
<div class="container">
  <div id="get-in-touch">
    <div class="row mt-4 mb-4">
      <div class="col-12 text-center">
        <h3>Get in touch for a demo or to learn more.</h3>
        <a role="button" class="btn btn-primary lets-talk" href="/talk-to-us/">Let's Talk</a>
        <div class="row-full text-center mt-3">
          <img class="" src="/assets/images/how_it_works/hero.svg" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-darkblue">
  <div class="container p-0 carousel carousel-dark slide" id="carousel" data-bs-ride="carousel" data-bs-interval="9000">
    <div id="endorsements" class="row carousel-inner">
      {% for e in site.data.endorsements %}
        <div class="col-12 carousel-item {% if forloop.first == true %}active{% endif %}  mt-4 mb-4">
          <div class="row">
            <div class="d-none d-lg-block col-lg-2 name">
              <strong>{{e.name}}</strong><br />
              {{e.position}},<br />
              {{e.org}}
            </div>
            <div class="d-lg-none col-sm-12 name mb-1">
              <strong>{{e.name}}</strong><br />
              {{e.position}},<br />
              {{e.org}}
            </div>
            <div class="col-lg-8 col-sm-12 detail ms-2">
              {{e.detail}}”
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>
