
<div class="container">
  <div id="get-in-touch">
    <div class="row mt-4 mb-4">
      <div class="col-12 text-center">
        <h3>Get in touch for a demo or to learn more.</h3>
        <a role="button" class="btn btn-primary lets-talk" href="/talk-to-us/">Let's Talk</a>
        <div class="row-full text-center mt-3">
          <img class="" src="/assets/images/how_it_works/hero.svg" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-darkblue">
  <div class="container p-0 carousel slide" id="carousel" data-ride="carousel" data-interval="9000">
    <div id="endorsements" class="row carousel-inner">
      <div class="controls row-full absolute">
        <a class="arrow" href="#carousel" role="button" data-slide="prev">
          <span class="" aria-hidden="true">&lt;</span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="arrow" href="#carousel" role="button" data-slide="next">
          <span class="" aria-hidden="true">&gt;</span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
      {% for e in site.data.endorsements %}
        <div class="col-12 carousel-item {% if forloop.first == true %}active{% endif %}  mt-4 mb-4">
          <div class="row">
            <div class="d-none d-lg-block col-lg-2 name">
              <strong>{{e.name}}</strong><br />
              {{e.position}},<br />
              {{e.org}}
            </div>
            <div class="d-lg-none col-sm-12 name mb-1">
              <strong>{{e.name}}</strong><br />
              {{e.position}},<br />
              {{e.org}}
            </div>
            <div class="col-lg-8 col-sm-12 detail ms-2">
              {{e.detail}}”
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
