<div class="row image">
  <div class="col-12">
    <div class="desktop-graphic-container stretchy-wrapper">
      <div>
        <img class="img-fluid" src="/assets/images/case_studies/vector-desktop.svg">
      </div>
    </div>
    <div class="screen-img">
      <img src="/assets/images/case_studies/{{ include.org }}-screen.png" />
    </div>
  </div>
</div>

<div class="row pt-1 pb-1">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <small>{{ include.caption }}</small>
  </div>
</div>
