<div class="container-fluid text-center stats-bar">
  <div class="container stats-container">
    {% assign org_stats = site.data.stats | where: "organization", include.org | first %}
    {% for stat in org_stats.stats %}
      <div class="stat">
        <div class="stat-icon-container">
          <img class="stat-icon" src="/assets/images/case_studies/{{ stat.icon }}" />
        </div>
        <span class="stat-value">{{ stat.value }}</span>
        <span class="stat-name">{{ stat.name }}</span>
      </div>
    {% endfor %}
  </div>
</div>
