#docsSearch {
  background-color: $csl-blue;
  color: white;

  // Insert the image above the search box
  h1 {
    margin-bottom: 0;

    &:after {
      content: ' ';
      background-image: url('images/helpcenter/homepage.svg') center no-repeat;
      display: block;
      height: 282px;
      margin-top: 15px;
    }
  }

  // Customize the button color
  #searchBar {
    button {
      background-color: $yellow;
      border-color: $yellow;
      color: $black;
      text-shadow: none;
    }
  }
}
