p, ul {
  font-family: Grafik-Regular, SFProDisplay, Arial, sans-serif;

  .btn {
    font-family: Grafik-Medium, SFProDisplay, Arial, sans-serif;
  }
}

main {
  overflow: hidden;
  position: relative; // overflow behaves unpredictably without this
}

.center-overflow {
  margin-left: 50%;
  transform: translateX(-50%);
}

img.faded {
  opacity: 0.6;
}

.row-full {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;

  &.absolute {
    position: absolute;
  }
}

.btn-primary {
  color: $body-bg;
}

.img-rounded {
  border-radius: 15px;
}

.nav-tabs {
  .nav-link {
    color: white;
    font-family: Grafik-Medium;
    border: 0;
    border-bottom: 1px solid transparent;

    &:hover {
      border: 0px;
      border-bottom: 1px solid $white;
    }
    &.active {
      border: 0px;
      border-bottom: 1px solid $white;
      color: $white;

      &:hover {
        border: 0px;
        border-bottom: 1px solid $white;
      }
    }
  }
}

.desktop-graphic {

  @include media-breakpoint-down(xs) {
    padding: 0;
    text-align: right;

    img {
      width: 400px;
      max-width: 90%;
    }
  }

  .frame {

  }

  .screen {
    position: absolute;
    top: 49px;
    display: block;

    @include media-breakpoint-down(xs) {
      top: 22px;
      right: 0;
    }
  }
  .overlay {
    width: 905px;
    position: absolute;
    display: inline-block;
    top: 568px;
    height: 77px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  }
}


/* MAP SECTION */

.tablet-graphic {
  direction: rtl;
  position: relative;

  @include media-breakpoint-down(sm) {
    img.frame {
      margin-top: 120px;
    }
  }

  @include media-breakpoint-down(xs) {
    padding: 0;
    text-align: left;
    direction: ltr;

    img.frame {
      height: 300px;
    }

    img.screen {
      height: 245px;
    }
  }

  .screen {
    position: absolute;
    top: 29px;
    right: 170px;

    @include media-breakpoint-down(sm) {
      top: 150px;
    }

    @include media-breakpoint-down(xs) {
      top: 132px;
      right: inherit;
      left: 0;
    }
  }
}

@mixin caseStudyOnClick() {
  .case-study-label {
    position: absolute;
    top: 400px;
    left: 250px;
    width: 150px;
    height: 40px;
    color: $primary;
    background: $secondary;
    display: none;
    padding: 6px;
    z-index: 99;

    &:before {
      content: "";
      position: absolute;
      left: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-right: 20px solid $secondary;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
  }

  &:hover {
    img {
      filter: brightness(65%);
    }
    cursor: pointer;

    .case-study-label {
      display: inherit;
    }
  }
}

.mobile-graphics {
  height: 515px;

  .mobile-graphic {
    direction: rtl;
    @include media-breakpoint-down(sm) {
      direction: ltr;
    }

    position: relative;

    &.left { z-index: 99; }
    &.right { z-index: 1; }

    &:first-child {
      @include media-breakpoint-up(md) {
        transform: translateX(52px)
      }
    }

    .frame {
      width: 420px;
      @include media-breakpoint-down(sm) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .screen {
      @include caseStudyOnClick();
      position: absolute;
      top: 58px;
      left: 63px;

      @include media-breakpoint-down(sm) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        img { width: 290px; }
      }
    }
  }
}

.mobile-graphic-lg {
  position: relative;

  .screen {
    position: absolute;
    top: 61px;
    left: 65px;
  }
}

.carousel-inner {
  overflow: visible;
}

/* SELLING POINTS */


#integration-images-container {
  img {
    max-height: 98px;
  }
}

.graphic-people-container {
  position: relative;
  height: 200px;

  .graphic-people {
    display: inline-block;
    background: $light;
    position: absolute;
    z-index: 99;
    bottom: 0;

    &#people-local-group {
      left: 100px;
      @include media-breakpoint-down(sm) {
        left: 50px;
      }
    }

    &#people-mom-daughter {
      left: 300px;
      @include media-breakpoint-down(sm) {
        left: inherit;
        right: -50px;
        bottom: 5px;
        background: none;
      }
    }

    img {
      vertical-align: bottom;
      padding: 5px;
    }
  }
}

.dotted-border-right {
  @include dottedBorder($color: #0f91c2, $size: 2px, $spacing: 9px, $position: right, $orientation: vertical);
  display: inline-block;
  margin-top: 278px;
  height: 820px;
  width: 3px;
  position: relative;
}

.dotted-border-top {
  @include dottedBorder($color: #0f91c2, $size: 2px, $spacing: 9px, $position: top);
  position: absolute;
  right: -505px;
  height: 10px;
  width: 500px;
}

.dotted-border-bottom {
  @include dottedBorder($color: #0f91c2, $size: 2px, $spacing: 9px, $position: top);
  position: absolute;
  height: 10px;

  &.desktop {
    left: -345px;
    top: 508px;
    width: 340px;
  }

  &.mobile {
    width: 640px;
    right: 60px;
    bottom: 3px;
  }
}

.graphic-bike-container {
  position: relative;
  height: 100px;

  img {
    position: absolute;
    top: -120px;
    right: 300px;
  }
}
