.feature-header {
  overflow: hidden;

  .feature-title {
    padding-top: 70px;

    @media (max-width: $grid-breakpoints('md')) {
      padding-top: 0;
    }
  }

  .feature-image {
    position: absolute;
    right: 0px;
    bottom: -80px;
  }

  .events-image {
    bottom: -140px;
    width: 60%;
  }

  @media (max-width: 1200px) {
    .events-image {
      bottom: -120px;
      width: 70%;
    }
  }

  @media (max-width: 992px) {
    .events-image {
      bottom: -120px;
      width: 80%;
    }
  }

  @media (max-width: $grid-breakpoints('md')) {
    .feature-image {
      width: 40%;
      display: block;
      margin: auto;
    }

    .events-image {
      bottom: -90px;
    }
  }
}

.feature-tab-header {
  padding-top: 50px;

  .feature-tabs {
    background: $dark;
    width: 100%;
    height: 120px;

    .tab {
      display: inline-block;
      font-size: 1.8em;
      padding: 37px;

      &.selected {
        span {
          display: inline-block;
          padding-bottom: 5px;
          border-bottom: 1px solid white;
        }
      }

      a {
        color: white;
      }
    }
  }

  .feature-image {
    bottom: 0px;
  }

  @media (max-width: $grid-breakpoints('md')) {
    padding-top: 0px;

    .feature-image {
      display: none;
    }

    .feature-tabs {
      height: 80px;

      .tab {
        width: 50%;
        font-size: 1.2rem;
        text-align: center;
        padding: 25px;
      }
    }
  }
}

.feature-description {
  .lead {
    font-size: 1.15em;
  }

  .subfeature {
    h3 {
      font-size: 1.3em;
      line-height: 1.4;
      color: $dark-gray-text;
    }

    p {
      margin-bottom: 0;
      line-height: 1.7;
      color: $gray-text;
    }

    @media (max-width: $grid-breakpoints('md')) {
      .subfeature-image {
        margin: 25px 0;

        .img-fluid {
          width: 50%;
        }
      }
    }
  }

  hr {
    @media (max-width: $grid-breakpoints('md')) {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}

.other-features {
  .next-feature-link {
    &:hover {
      text-decoration: none;
    }
  }

  .next-feature {
    position: relative;
    border-radius: 10px;
    width: 100%;
    background: $secondary;
    color: white;
    text-align: center;
    font-size: 1.6em;
    padding-top: 50px;

    &:hover {
      color: white;
      background-color: $light-blue;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);

      .lead {
        text-decoration: none;
      }

      .see-more {
        text-decoration: none;
      }
    }

    &.left {
      margin-right: 25px;

      @media (max-width: $grid-breakpoints('md')) {
        margin-right: 0;
      }
    }

    &.right {
      margin-left: 25px;

      @media (max-width: $grid-breakpoints('md')) {
        margin-top: 25px;
        margin-left: 0;
      }
    }

    .lead {
      font-weight: 600;
      font-size: 1.3em;
      margin: 25px 0;
    }

    .see-more {
      margin: 10px 0 25px 0;
      font-size: 0.7em;
    }

    .image-container {
      overflow: hidden;
      width: 65%;
      margin: auto;
      max-height: 250px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
