.feature-tab-header {
  .feature-tabs {
    background: $dark;
    width: 100%;
    height: 120px;

    .tab {
      display: inline-block;
      font-size: 1.4em;
      padding: 40px;

      &.selected {
        text-decoration: underline;
      }

      a {
        color: white;
      }
    }
  }

  img {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}

.feature-description {
  .lead {
    font-size: 1.15em;
  }

  .subfeature {
    h3 {
      color: $gray-800;
      font-size: 1.3em;
    }

    p {
      color: $gray-800;
      margin-bottom: 0px;
    }

    @media (max-width: 768px) {
      .subfeature-image {
        margin: 25px 0px;

        .img-fluid {
          width: 50%;
        }
      }
    }
  }

  hr {
    @media (max-width: 768px) {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}

.other-features {
  .next-feature {
  	position: relative;
  	border-radius: 10px;
  	width: 100%;
  	background: $secondary;
  	text-align: center;
  	font-size: 1.6em;
  	padding-top: 50px;

  	&.left {
  		margin-right: 25px;
  	}

  	&.right {
  		margin-left: 25px;
  	}

    .lead {
      font-weight: 600;
      font-size: 1.3em;
      margin: 25px 0px;
    }

    .see-more {
      margin: 10px 0px 25px 0px;
  
    	a {
    		color: white;
    		font-size: 0.7em;
        margin: 25px 0px 35px 0px;
    	}
    }

    .image-container {
      overflow: hidden;
      width: 65%;
      margin: auto;
      max-height: 250px;
    
    	img {
    		width: 100%;
        height: auto;
    	}
    }
  }
}