.comparison-versus {
  font-size: 1.5em;
}

#endorsements-container {
  background: $darkblue;
}

#endorsements {
  min-height: 400px;
  
  .controls {
    text-align: right;
    top: $spacer;
    padding: 20px;
    padding-right: 100px;
    font-size: 2.5em;
    font-family: Grafik-Regular;
    a {
      margin-left: 0.3 * $spacer;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .name {
    font-family: Grafik-Regular;
  }

  .detail {
    position: relative;

    &:before {
      content: "“";
      left: 0;
      position: absolute;
    }

    font-size: 1.4em;
  }
}

.versus-spacer {
  height: 89px;

  @include media-breakpoint-down(xs) {
    height: 0;
  }
}
