#endorsements-container {
  background: $darkblue;
}

#endorsements {
  min-height: 400px;

  .controls {
    text-align: right;
    top: $spacer;
    padding: 20px;
    padding-right: 100px;
    font-size: 2em;
    font-family: Grafik-Regular, sans-serif;

    a {
      color: white;
      margin-left: 0.3 * $spacer;

      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }

  .name {
    font-family: Grafik-Regular, sans-serif;
  }

  .detail {
    position: relative;

    &:before {
      content: "“";
      left: 0;
      position: absolute;
    }

    font-size: 1.4em;
  }
}
