.newsletter-signup {
  font-family: $font-family-sans-serif-regular;

  .email-label {
    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }

  .email-address {
    background-color: transparent;
    font-weight: 100;

    &, &::placeholder {
      color: #ffffff;
    }

    &:focus, &:active {
      box-shadow: unset;
    }

    @include media-breakpoint-up(md) {
      max-width: 250px;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 14px;
    }
  }

  .btn-subscribe {
    @include media-breakpoint-up(md) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
