.stats-bar{
  background-color: #f5fcff;
  color: $secondary;

  .stats-container {
    display: flex;
    margin: 0 auto;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  .stat {
    display: block;
    flex: auto;
    margin: {
      top: 40px;
      bottom: 40px;
    }

    &:not(:last-child) {
      border-right: solid 1px $light-blue;
    }

    span {
      display: block;
    }
  }

  .stat-icon-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .stat-icon {
    width: 45px;
  }

  .stat-value {
    font-size: 38px;

    @include media-breakpoint-down(sm) {
      font-size: 24px;
    }
  }
}
