.stats-bar{
  background-color: #f5fcff;
  color: $secondary;

  .stat {
    display: inline-block;
    margin: {
      top: 40px;
      bottom: 40px;
    }

    &:not(:last-child) {
      border-right: solid 1px $light-blue;
    }

    span {
      display: block;
    }
  }

  .stat-value {
    font-size: 38px;
  }

  .stat-name {

  }
}
