.case-study {
  h4 {
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: #292929;
    line-height: 1.43;
    letter-spacing: normal;
  }

  p, ul {
    color: $gray-text;
    font-size: 18px;
    line-height: 1.67;
  }

  div.stretchy-wrapper {
    width: 100%;
    padding-bottom: 4.5%;
    position: relative;
    overflow: hidden;
  }

  div.stretchy-wrapper > div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
  }

  div.screen-img {
    margin-right: 1px;

    img {
      border: #e8e8e8 1px solid;
      width: 100%;
      max-width: 1221px;
    }
  }

  figure {
    padding: 15px;
    background: #eee;
    border-radius: 5px;

    blockquote {
      margin: 0;
    }

    blockquote p::before {
        content: '\201C';
    }

    blockquote p::after {
        content: '\201D';
    }
  }
}

.next-case-study {
  .left {
    padding: 100px 0;

    @include media-breakpoint-down(sm) {
      padding: 25px 0;
    }
  }

  .medium {
    color: $gray-text;
  }

  .right {
    padding: 100px;
    background: $dark;

    img {
      display: block;
      margin: auto;
    }
  }
}
