---
layout: default
title: Blog
pagination:
  enabled: true
---
<div class="container-fluid bg-white text-black blog">
    <div class="container">
        <div class="row pb-4 pt-4">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h4> ControlShift Blog</h4>
                </div>
                <div class="col-md-8">
                    {% unless paginator.previous_page  %}
                      {% for post in paginator.posts offset:0 limit:1 %}
                        {% include post-summary.html featured_class="featured" %}
                      {% endfor %}
                      <hr/>

                      {% for post in paginator.posts offset:1  %}
                        {% include post-summary.html %}
                      {% endfor %}
                    {% else %}
                        {% for post in paginator.posts %}
                          {% include post-summary.html %}
                        {% endfor %}
                    {% endunless %}
                </div>

                <div class="col-md-8">
                    <!-- Pagination links -->
                    <nav>
                        <ul class="pagination">
                            {% if paginator.previous_page %}
                            <li class="page-item">
                                <a href="{{ paginator.previous_page_path }}" class="page-link">
                                    Previous
                                </a>
                            </li>

                            {% else %}
                            <li class="page-item disabled">
                              <span class="page-link">Previous</span>
                            </li>
                            {% endif %}

                            {% if paginator.next_page %}
                            <li class="page-item">
                              <a href="{{ paginator.next_page_path }}" class="page-link">Next</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                              <span class="page-link">Next</span>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>



