p, ul {
  font-family: Grafik-Regular;
}

.navbar-nav > li {
  padding-left:21px;
  padding-right:21px;

  .btn.btn-outline-primary {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.btn-primary {
  color: $body-bg;
}

.img-rounded {
  border-radius: 15px;
}

.nav-item.active {
  .nav-link {
    text-decoration: underline;
  }
}
