p, ul {
  font-family: Grafik-Regular;

  .btn {
    font-family: Grafik-Medium;
  }
}

main {
  overflow: hidden;
}

.center-overflow {
  margin-left: 50%;
  transform: translateX(-50%);
}

img.faded {
  opacity: 0.6;
}

.navbar-nav .nav-link.btn {
  padding-left: $input-btn-padding-x;
  padding-right: $input-btn-padding-x;
}

ul.text-list {
  li {
    margin-top: 16px;
    list-style-type: none;

    &:first-child {
      margin-top:0;
    }

    &:before {
      content: "";
      border-color: transparent #fff;
      border-style: solid;
      border-width: 0.35em 0 0.35em 0.45em;
      display: block;
      height: 0;
      width: 0;
      left: -2.4em;
      top: 1.1em;
      position:  relative;
    }
  }
}

.navbar-nav > li {
  padding-left:21px;
  padding-right:21px;
}


.btn-primary {
  color: $body-bg;
}

.img-rounded {
  border-radius: 15px;
}

.nav-tabs {
  .nav-link {
    &:hover {
      border: 0px;
      border-bottom: 1px solid $white;
    }
    &.active {
      border: 0px;
      border-bottom: 1px solid $white;
      color: $white;

      &:hover {
        border: 0px;
        border-bottom: 1px solid $white;
      }
    }
  }
}

.desktop-graphic {

  @include media-breakpoint-down(xs) {
    padding: 0px;
    text-align: right;

    img {
      width: 400px;
      max-width: 90%;
    }
  }

  .frame {

  }

  .screen {
    position: absolute;
    top: 49px;
    display: block;

    @include media-breakpoint-down(xs) {
      top: 22px;
      right: 0px;
    }
  }
}


/* MAP SECTION */

.tablet-graphic {
  direction: rtl;

  @include media-breakpoint-down(xs) {
    padding: 0px;
    text-align: right;

    img {
      height: 250px;
      max-width: 90%;
    }
  }

  .screen {
    position: absolute;
    top: 29px;
    right: 170px;
  }
}

@mixin caseStudyOnClick() {
  .case-study-label {
    position: absolute;
    top: 400px;
    left: 250px;
    width: 150px;
    height: 40px;
    color: $primary;
    background: $secondary;
    display: none;
    padding: 6px;
    z-index: 99;

    &:before {
      content: "";
      position: absolute;
      left: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-right: 20px solid $secondary;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
  }

  &:hover {
    img {
      filter: brightness(65%);
    }
    cursor: pointer;

    .case-study-label {
      display: inherit;
    }
  }
}

.mobile-graphics {
  height: 515px;

  .mobile-graphic {
    direction: rtl;
    position: relative;

    &:first-child {
      transform: translateX(52px)
    }

    .frame {
      width: 420px;
    }

    .screen {
      position: absolute;
      top: 58px;
      left: 63px;

      @include caseStudyOnClick()
    }
  }
}

.mobile-graphic-lg {
  position: relative;

  .screen {
    position: absolute;
    top: 61px;
    left: 65px;

    @include caseStudyOnClick()
  }
}

.selling-point {
  img {
    margin-bottom: $spacer * 0.5;
  }
}

.graphic-people-container {
  position: relative;
  height: 200px;

  .graphic-people {
    display: inline-block;
    background: $light;
    position: absolute;
    z-index: 99;
    bottom: 0px;

    &#people-local-group {
      left: 100px;
      @include media-breakpoint-down(sm) {
        left: 50px;
      }
    }

    &#people-mom-daughter {
      left: 400px;
      @include media-breakpoint-down(sm) {
        left: inherit;
        right: -50px;
        bottom: 5px;
        background: none;
      }
    }

    img {
      vertical-align: bottom;
      padding: 5px;
    }
  }
}

.dotted-border-right {
  @include dottedBorder($color: #0f91c2, $size: 2px, $spacing: 9px, $position: right, $orientation: vertical)
  display: inline-block;
  margin-top: 278px;
  height: 820px;
  width: 3px;
  position: relative;
}

.dotted-border-top {
  @include dottedBorder($color: #0f91c2, $size: 2px, $spacing: 9px, $position: top)
  position: absolute;
  right: -505px;
  height: 10px;
  width: 500px;
}

.dotted-border-bottom {
  @include dottedBorder($color: #0f91c2, $size: 2px, $spacing: 9px, $position: top)
  position: absolute;
  height: 10px;

  &.desktop {
    left: -345px;
    top: 508px;
    width: 340px;
  }

  &.mobile {
    width: 640px;
    right: 60px;
    bottom: 3px;
  }
}

.graphic-bike-container {
  position: relative;
  height: 100px;

  img {
    position: absolute;
    top: -120px;
    right: 300px;
  }
}

/* FOOTER */

.sub-footer {
  font-size: 0.8em;
}



