p, ul {
  font-family: Grafik-Regular;

  .btn {
    font-family: Grafik-Medium;
  }
}

img.faded {
  opacity: 0.6;
}

.navbar-nav .nav-link.btn {
  padding-left: $input-btn-padding-x;
  padding-right: $input-btn-padding-x;
}

ul.text-list {
  li {
    margin-top: 16px;
    list-style-type: none;

    &:first-child {
      margin-top:0;
    }

    &:before {
      content: "";
      border-color: transparent #fff;
      border-style: solid;
      border-width: 0.35em 0 0.35em 0.45em;
      display: block;
      height: 0;
      width: 0;
      left: -2.4em;
      top: 1.1em;
      position:  relative;
    }
  }
}

.navbar-nav > li {
  padding-left:21px;
  padding-right:21px;
}


.btn-primary {
  color: $body-bg;
}

.img-rounded {
  border-radius: 15px;
}

.nav-tabs {
  .nav-link {
    &:hover {
      border: 0px;
      border-bottom: 1px solid $white;
    }
    &.active {
      border: 0px;
      border-bottom: 1px solid $white;
      color: $white;

      &:hover {
        border: 0px;
        border-bottom: 1px solid $white;
      }
    }
  }
}

.desktop-graphic {
  .frame {

  }
  .screen {
    position: absolute;
    top: 49px;
  }
}

.tablet-graphic {
  direction: rtl;

  .screen {
    position: absolute;
    top: 29px;
    right: 170px;
  }
}

.mobile-graphics {
  height: 515px;

  .mobile-graphic {
    direction: rtl;
    position: relative;

    &:first-child {
      transform: translateX(52px)
    }

    .frame {
      width: 420px;
    }

    .screen {
      position: absolute;
      top: 58px;
      left: 63px;
    }
  }
}

.mobile-graphic-lg {
  position: relative;

  .screen {
    position: absolute;
    top: 61px;
    left: 65px;
  }
}

.selling-point {
  img {
    margin-bottom: $spacer * 0.5;
  }
}

.graphic-people-container {
  position: relative;
  height: 200px;

  .graphic-people {
    display: inline-block;
    background: $light;
    position: absolute;
    z-index: 99;
    bottom: 0px;

    &#people-local-group {
      left: 100px;
    }

    &#people-mom-daughter {
      left: 400px;
    }

    img {
      vertical-align: bottom;
      padding: 5px;
    }
  }
}

.dotted-border-right {
  @include dottedBorder($color: #0f91c2, $size: 2px, $spacing: 9px, $position: right, $orientation: vertical)
  display: inline-block;
  margin-top: 278px;
  height: 820px;
  width: 3px;
  position: relative;
}

.dotted-border-top {
  @include dottedBorder($color: #0f91c2, $size: 2px, $spacing: 9px, $position: top)
  position: absolute;
  right: -505px;
  height: 10px;
  width: 500px;
}

.dotted-border-bottom {
  @include dottedBorder($color: #0f91c2, $size: 2px, $spacing: 9px, $position: top)
  position: absolute;
  left: -345px;
  top: 508px;
  height: 10px;
  width: 340px;
}

.graphic-bike-container {
  position: relative;
  height: 100px;

  img {
    position: absolute;
    top: -120px;
    right: 300px;
  }
}



