.footer {
  a {
    color: white;
    line-height: 1.7;
  }

  .status {
    margin-bottom: 20px;

    .status-indicator {
      margin-right: 10px;
      font-size: 1.2em;

      .none { color: #7af5a3 }
      .minor { color: #ff9933 }
      .major { color: #ff3333 }
    }

    .status-description {
      font-family: $font-family-sans-serif-regular;
    }
  }

  .sub-footer {
    font-size: 0.8em;
  }

  .social-icons {
    font-size: 1.2rem;
  }

  .copyright {
    padding: 0.5rem 0;
    font-size: 0.85rem;
  }
}