/* This file is used to style the Help Center. It's hosted on the marketing site domain for ease of maintenance. */

$csl-blue: #1091c2;

// Hide header links except Contact and Status
.navbar nav li:not(#contact):not(#contactMobile):not(#status) {
  display: none;
}

// Customize the search box
#searchBar {
  button {
    background-color: $csl-blue;
  }
}
