@font-face {
  font-family: Grafik-Medium;
  src:
    url('../_fonts/Graphik-Medium-Web.woff2') format('woff2'),
    url('../_fonts/Graphik-Medium-Web.woff') format('woff');
}

@font-face {
  font-family: Grafik-Regular;
  src:
    url('../_fonts/Graphik-Regular-Web.woff2') format('woff2'),
    url('../_fonts/Graphik-Regular-Web.woff') format('woff');
}

@import 'normalize.css';
@import '../_scss/_dotted_border' ;

@import '../_scss/_custom';
@import "~bootstrap/scss/bootstrap";

@import '../_scss/_default';
@import '../_scss/_feature';
@import '../_scss/_how_it_works';
@import '../_scss/_case_study';
