@font-face {
  font-family: Grafik-Medium;
  src:
    url('../assets/fonts/Graphik-Medium-Web.woff2') format('woff2'),
    url('../assets/fonts/Graphik-Medium-Web.woff') format('woff');
}

@font-face {
  font-family: Grafik-Regular;
  src:
    url('../assets/fonts/Graphik-Regular-Web.woff2') format('woff2'),
    url('../assets/fonts/Graphik-Regular-Web.woff') format('woff');
}

@import 'normalize.css';

@import '../_scss/_custom';
@import "~bootstrap/scss/bootstrap";


@import '../_scss/_default';
