<div>
  <div class="row align-items-center">
    <div class="col-lg-4 col-md-5 p-1 p-lg-2">
      <img src="/assets/images/logos/logo-everyaction.png" class="img-fluid faded" alt="Every Action" style="max-width: 180px;" />
    </div>
    <div class="col-md-4 p-1 p-lg-2">
      <a href="/integrations/action-network.html">
        <img src="/assets/images/logos/logo-actionnetwork.png" class="img-fluid faded" alt="Action Network" />
      </a>
    </div>
    <div class="col-lg-4 col-md-3 p-1 p-lg-2">
      <a href="/integrations/action-kit.html">
        <img src="/assets/images/logos/logo-actionkit.png" class="img-fluid faded" alt="ActionKit" style="padding: 16px;" />
      </a>
    </div>
  </div>
  <div class="row align-items-center align-self-center">
    <div class="col-md-4 p-1 p-lg-2">
      <a href="/integrations/engaging-networks.html">
        <img src="/assets/images/logos/logo-engaging-networks.png" class="img-fluid faded" alt="Engaging Networks" />
      </a>
    </div>
    <div class="col-md-4 p-1 p-lg-2">
      <img src="/assets/images/logos/logo-salesforce.png" class="img-fluid faded" alt="Salesforce" />
    </div>
    <div class="col-md-4 p-1 p-lg-2">
      <img src="/assets/images/logos/logo-nationbuilder.png" class="img-fluid faded" alt="NationBuilder" />
    </div>
  </div>
  <div class="row align-items-center align-self-center">
    <div class="col-md-4 p-1 p-lg-2">
      <img src="/assets/images/logos/mobilize-grey.png" class="img-fluid faded" alt="MobilizeAmerica" />
    </div>
    <div class="col-md-4 p-1 p-lg-2">
      <img src="/assets/images/logos/logo-salsa.png" class="img-fluid faded" alt="Salsa" />
    </div>
  </div>
</div>
