<div class="row mt-md-4 mt-2 hero" id="hero">
  <div class="col-lg-5">
    <h1>
      {{ include.crm_name }} plus ControlShift.
      <span class="highlight">Campaigns into movements.</span>
    </h1>
    <p class="description">ControlShift is the best software for putting people at the center of your campaigns with distributed events, local groups, and member-led petitions.</p>
    <a role="button" class="btn btn-primary lets-talk" href="https://go.controlshift.app/signups/new_for_location">Sign Up</a>
  </div>
  <div id="hero-image-xl" class="row-full">
    <img src="/assets/images/home/hero.svg" alt="" />
  </div>
</div>
