<div class="col-md-8">
  <div class="graphic-people-container">
    <div class="graphic-people" id="people-migration">
      <img src="/assets/images/migration.svg" alt>

    </div>

    <div class="graphic-people" id="crm-logo-migration">
      <img src="/assets/images/logos/{{include.logo_file_name}}" alt>

    </div>

    <div class="graphic-people" id="controlshift-logo-migration">
      <img src="/assets/images/logos/logo.svg" alt>

    </div>
    <div class="dotted-border-bottom normal moving-dots"> </div>
  </div>
</div>
