<div class="col-md-8 d-flex align-items-center text-center" id="integration-images-container">
  <div>
    <div class="row">
      <div class="col-md-4 p-1 p-lg-2">
        <img src="/assets/images/logos/slack.svg" alt="Slack"  />
        <h5>Slack</h5>
        <p>
          Keep your team up to date with platform activity.
        </p>
      </div>
      <div class="col-md-4 p-1 p-lg-2">
        <img src="/assets/images/api.svg" class="" alt="API" style="padding: 25px"/>
        <h5>
          Powerful API
        </h5>
        <p>
          Build custom integrations or experiences.
        </p>
      </div>
      <div class="col-md-4 p-1 p-lg-2">
        <img src="/assets/images/analytics.svg" alt="Analytics"  style="padding: 32px" />
        <h5>Analytics</h5>
        <p>
          Google Analytics, Google Tag Manager, Segment, SQL data warehouse, and more
        </p>
      </div>
    </div>
  </div>
</div>
