<div class="row mt-2" id="selling-points-3">
  <div class="col-md-4 selling-point">
    <img src="/assets/images/home/global-reach.svg" alt="" />
    <h5>Global reach</h5>
    <p class="line-height-large">Fully internationalized with support for 15 languages including right-to-left languages like Arabic and Hebrew.</p>
  </div>
  <div class="col-md-4 selling-point">
    <img src="/assets/images/home/organizing.svg" alt="" />
    <h5>Organizing expertise baked in</h5>
    <p class="line-height-large">We’re not just a software vendor but a team of organizers with a deep commitment to progressive change.</p>
  </div>
  <div class="col-md-4 selling-point">
    <img src="/assets/images/data.svg" alt="" />
    <h5>GDPR Ready</h5>
    <p class="line-height-large">Privacy conscious platform with features designed to help customers achieve compliance with strict data protection laws.</p>
  </div>
</div>
