<div class="row pb-4 pt-4 justify-content-center bg-white">
  <div class="col-md-6">

    <p>
      ControlShift unlocks new organizing tactics for {{ include.crm_name }} customers. We build on top of the foundation
      that {{ include.crm_name }} offers out of the box to help turn your members into leaders.
    </p>

    <p>
      We are on a mission to change the way that advocacy organizations work and help our customers transition from
      simply mobilizing their supporters to action to organizing and supporting them as leaders as part of your cause.
    </p>

    <ul>
      <li>
        <strong>Distributed Events</strong>
        Allow your supporters to organize their own zoom calls, phone banks, canvasses, house parties or community meetings.
      </li>
      <li>
        <strong>Local Groups</strong>
        Organize your supporters into geographic teams that organize offline. Each team can communicate internally
        and host events or petitions, while your organization manages all of the local activity.
      </li>
      <li>
        <strong>Member Led Petitions</strong>
        Allow your supporters to start their own campaigns to drive list growth and impact locally.
      </li>
    </ul>

  </div>
</div>
