<div class="row pb-4 pt-4 justify-content-center bg-white">
  <div class="col-md-6">

    <h2>
      ControlShift unlocks new organizing tactics for {{ include.crm_name }} customers.
    </h2>

    <p>

      We build on top of the foundation
      that {{ include.crm_name }} offers out of the box to help turn your supporters into leaders.
    </p>

    <p>
      We are on a mission to change the way that advocacy organizations work and help our customers transition from
      simply mobilizing their supporters to take an action to organizing and supporting them as leaders as part of your cause.
    </p>

    <ul>
      <li>
        <strong>Distributed Events</strong>
        Allow your supporters to organize their own community meetings,
        zoom calls, phone banks, canvasses, house parties or community meeting - whatever will help move your cause forward.
        Make it easy for your supporters to find both member-led and organization-sponsored opportunities to get involved.
      </li>
      <li>
        <strong>Local Groups</strong>
        Empower your supporters to lead and join geographic teams that organize offline. Each team can communicate internally
        and host events or petitions, while your organization manages all of the local activity.
      </li>
      <li>
        <strong>Member-Led Petitions</strong>
        Allow your supporters to start their own campaigns to drive list growth and impact locally. Each petition creator
        gains access to a suite of tools to make their campaign a success.
      </li>

      <li>
        <strong>Powerful Moderation and Admin Interfaces</strong>
        ControlShift includes extensive moderation and administrative tools to ensure you’re in control and able to effectively
        support your new leaders through every step of the process.
      </li>
    </ul>

  </div>
</div>
