---
layout: default
---

<div class="container">
  <div class="row mt-3">
    <div class="col-md-6">
      <p><strong>Case Study</strong></p>
      <h1>{{page.title}}</h1>
    </div>
    <div class="col-md-6" style="background: {{page.org_color}}; padding: 50px;">
      <img src="/assets/images/logo-{{page.org}}.png" class="img-fluid">
    </div>
  </div>
</div>

<div class="container-fluid bg-white text-black">
  <div class="container p-0 pt-4 pb-4">
    {{content}}
  </div>
</div>

{% include page-footer.html %}

