---
layout: default
---

<div class="container feature-header">
  <div class="row mt-3 pb-3">
    <div class="col-md-6 feature-title">
      <h1>{{page.title}}</h1>
    </div>
    <div class="col-md-6">
      {% if page.image_class %}
        <img src="/assets/images/features/hero/{{page.image_slug}}.svg" class="img-fluid feature-image {{page.image_class}}" alt="" />
      {% else %}
        <img src="/assets/images/features/hero/{{page.image_slug}}.svg" class="img-fluid feature-image" alt="" />
      {% endif %}
    </div>
  </div>
</div>

<div class="container-fluid bg-white text-black">
  <div class="container feature-description p-0 pt-md-4 pt-1 pb-md-4 pb-1">
    {{content}}
  </div>
</div>

{% include other-features.html %}
{% include page-footer.html %}
