---
layout: default
---

<div class="container">
  <div class="row mt-3">
    <div class="col-md-6">
      <h1>{{page.title}}</h1>
    </div>
    <div class="col-md-6">
      <img src="/assets/images/features/hero/{{page.image_slug}}.svg" class="img-fluid">
    </div>
  </div>
</div>

<div class="container-fluid bg-white text-black">
  <div class="container feature-description p-0 pt-xs-1 pb-xs-1 pt-md-4 pb-md-4">
    {{content}}
  </div>
</div>

{% include other-features.html %}
{% include page-footer.html %}
