---
layout: default
---
<div class="row mt-3" id="hero">
  <div class="col-md-4">
    <h1>Your distributed organizing toolbox</h1>
    <p>ControlShift is the best software for putting people at the center of your campaigns with distributed events, local groups, and member-generated petitions.</p>
    <a href="" class="btn btn-primary">Let's Talk</a>
  </div>
  <div class="col-md-8">
    <img class="img-responsive" src="/assets/images/hero.svg" />
  </div>
</div>

<div class="row mt-5" id="trusted-by">
  <div class="col-md-12">
    <div class="card bg-dark border-0">
      <div class="card-body pl-3 pr-3">
        <div class="row">
          <div class="col-md-5 d-flex align-items-center">
            <span class="align-middle">Trusted by organizations in 25 countries including:</span>
          </div>
          <div class="col-md-7">
            <div class="row text-center">
              <div class="col-3">
                <img src="/assets/images/logo-350.png" alt="Logo for 350.org" />
              </div>
              <div class="col-3">
                <img src="/assets/images/logo-united-we-dream.png" alt="Logo for United We Dream" />
              </div>
              <div class="col-3">
                <img src="/assets/images/logo-get-up.png" alt="Logo for GetUp!" />
              </div>
              <div class="col-3">
                <img src="/assets/images/logo-color-of-change.png" alt="Logo for Color of Change" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5" id="key-features-tabs">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h2><center>Move your campaigns beyond broadcast</center></h2>
    <ul class="nav nav-tabs nav-justified border-0" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link border-0" id="distributed-events-tab" data-toggle="tab" href="#distributed-events" role="tab" aria-controls="distributed-events" aria-selected="true">Distributed Events</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link border-0" id="local-groups-tab" data-toggle="tab" href="#local-groups" role="tab" aria-controls="local-groups" aria-selected="false">Local Groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link border-0" id="member-campaigns-tab" data-toggle="tab" href="#member-campaigns" role="tab" aria-controls="member-campaigns" aria-selected="false">Member Campaigns</a>
      </li>
    </ul>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="distributed-events" role="tabpanel" aria-labelledby="distributed-events-tab">
        <div class="row">
          <div class="col-md-4">
            <h1>Distributed events content</h1>
            <ul>
              <li>
                Point 1
              </li>
              <li>
                Point 2
              </li>
              <li>
                Point 3
              </li>
              <li>
                Point 4
              </li>
            </ul>
            <a href="" class="btn btn-outline-primary">Learn More About Local Groups</a>
          </div>
          <div class="col-md-8">
            <img class="img-responsive" src="/assets/images/hero.png" />
          </div>
        </div>
      </div>
      <div class="tab-pane fade show active" id="local-groups" role="tabpanel" aria-labelledby="local-groups-tab">
        <div class="row">
          <div class="col-md-4">
            <h1>Local organising teams</h1>
            <ul>
              <li>
                Help your members to find their closest groups or organize a new one if there are none nearby.
              </li>
              <li>
                Mailing lists and member directories allow for local coordination.
              </li>
              <li>
                Staff admin tools for coordinating your global network of teams.
              </li>
              <li>
                Local groups grow through events they host and campaigns they create.
              </li>
            </ul>
            <a href="" class="btn btn-outline-primary">Learn More About Local Groups</a>
          </div>
          <div class="col-md-8">
            <img class="img-responsive img-rounded" src="/assets/images/local-groups-screen.png" />
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="member-campaigns" role="tabpanel" aria-labelledby="member-campaigns-tab">
        <div class="row">
          <div class="col-md-4">
            <h1>Member campaigns content</h1>
            <ul>
              <li>
                Point 1
              </li>
              <li>
                Point 2
              </li>
              <li>
                Point 3
              </li>
              <li>
                Point 4
              </li>
            </ul>
            <a href="" class="btn btn-outline-primary">Learn More About Local Groups</a>
          </div>
          <div class="col-md-8">
            <img class="img-responsive" src="/assets/images/hero.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" id="map-section">
  <div class="col-md-12">
    <div class="well">Map section</div>
  </div>
</div>

<div class="row" id="selling-points-1">
  <div class="col-md-12">
    <div class="well">Key features</div>
  </div>
</div>

<div class="row" id="selling-points-2">
  <div class="col-md-12">
    <div class="well">Used by</div>
  </div>
</div>

<div class="row" id="selling-points-3">
  <div class="col-md-12">
    <div class="well">Key features #2</div>
  </div>
</div>

<div class="row" id="selling-points-3">
  <div class="col-md-12">
    <div class="well">Get in touch</div>
  </div>
</div>
