---
layout: default
---
<div class="container">
  <div class="row mt-3" id="hero">
    <div class="col-md-4">
      <h1>Your distributed organizing toolbox</h1>
      <p>ControlShift is the best software for putting people at the center of your campaigns with distributed events, local groups, and member-generated petitions.</p>
      <a href="" class="btn btn-primary">Let's Talk</a>
    </div>
    <div class="col-md-8 pl-0 pr-0 pl-sm-1 pr-sm-1 mt-2 mt-sm-0">
      <img class="img-fluid center-overflow" src="/assets/images/hero.svg" style="min-width: 380px;" />
    </div>
  </div>

  <div class="row mt-3 mt-sm-5" id="trusted-by">
    <div class="col-md-12">
      <div class="card bg-dark border-0">
        <div class="card-body pl-3 pr-3 pb-2 pt-2 pb-sm-0 pt-sm-0">
          <div class="row">
            <div class="col-md-5 d-flex align-items-center">
              <span class="align-middle">Trusted by organizations in 25 countries including:</span>
            </div>
            <div class="col-md-7">
              <div class="row text-center">
                <div class="col-md-3 mt-0 mt-sm-1 mb-sm-1">
                  <img src="/assets/images/logo-350.png" alt="Logo for 350.org" />
                </div>
                <div class="col-md-3 mt-0 mt-sm-1 mb-sm-1">
                  <img src="/assets/images/logo-united-we-dream.png" alt="Logo for United We Dream" />
                </div>
                <div class="col-md-3 mt-0 mt-sm-1 mb-sm-1">
                  <img src="/assets/images/logo-get-up.png" alt="Logo for GetUp!" />
                </div>
                <div class="col-md-3 mt-0 mt-sm-1 mb-sm-1">
                  <img src="/assets/images/logo-color-of-change.png" alt="Logo for Color of Change" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 mt-sm-5" id="key-features-tabs">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2><center>Move your campaigns beyond broadcast</center></h2>
      <ul class="nav nav-tabs nav-justified border-0" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="distributed-events-tab" data-toggle="tab" href="#distributed-events" role="tab" aria-controls="distributed-events" aria-selected="true">Distributed Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="local-groups-tab" data-toggle="tab" href="#local-groups" role="tab" aria-controls="local-groups" aria-selected="false">Local Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="member-campaigns-tab" data-toggle="tab" href="#member-campaigns" role="tab" aria-controls="member-campaigns" aria-selected="false">Member Campaigns</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="distributed-events" role="tabpanel" aria-labelledby="distributed-events-tab">
          <div class="row">
            <div class="col-md-5 pr-3 mb-2 mb-sm-4">
              <h4>Distributed events content</h4>
              <ul class="text-list">
                <li>
                  Point 1
                </li>
                <li>
                  Point 2
                </li>
                <li>
                  Point 3
                </li>
                <li>
                  Point 4
                </li>
              </ul>
              <a href="" class="btn btn-outline-primary mt-2">Learn More About Local Groups</a>
            </div>
            <div class="col-md-7 desktop-graphic">
              <img class="frame" src="/assets/images/vector-desktop.svg" />
              <img class="screen" src="/assets/images/local-groups-screen.png" />
            </div>
          </div>
        </div>
        <div class="tab-pane fade show active" id="local-groups" role="tabpanel" aria-labelledby="local-groups-tab">
          <div class="row">
            <div class="col-md-5 pr-3 mb-2 mb-sm-4">
              <h4>Local Organizing Teams</h4>
              <ul class="text-list">
                <li>
                  Help your members to find their closest groups or organize a new one if there are none nearby.
                </li>
                <li>
                  Mailing lists and member directories allow for local coordination.
                </li>
                <li>
                  Staff admin tools for coordinating your global network of teams.
                </li>
                <li>
                  Local groups grow through events they host and campaigns they create.
                </li>
              </ul>
              <a href="" class="btn btn-outline-primary mt-2">Learn More About Local Groups</a>
            </div>
            <div class="col-md-7 desktop-graphic">
              <img class="frame" src="/assets/images/vector-desktop.svg" />
              <img class="screen" src="/assets/images/local-groups-screen.png" />
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="member-campaigns" role="tabpanel" aria-labelledby="member-campaigns-tab">
          <div class="row">
            <div class="col-md-5 pr-3 mb-2 mb-sm-4">
              <h4>Member campaigns content</h4>
              <ul class="text-list">
                <li>
                  Point 1
                </li>
                <li>
                  Point 2
                </li>
                <li>
                  Point 3
                </li>
                <li>
                  Point 4
                </li>
              </ul>
              <a href="" class="btn btn-outline-primary mt-2">Learn More About Local Groups</a>
            </div>
            <div class="col-md-7 desktop-graphic">
              <img class="frame" src="/assets/images/vector-desktop.svg" />
              <img class="screen" src="/assets/images/local-groups-screen.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-light text-black">
  <div class="container p-0">
    <div class="row pt-2 pt-md-4" id="map-section">
      <div class="col-md-4 order-md-1">
        <div class="mt-2 mb-2 mt-md-4 mb-md-4">
          <div class="graphic-people-container">
            <div class="graphic-people" id="people-local-group">
              <img src="/assets/images/image-peeps-sign.png" />
            </div>
            <div class="graphic-people" id="people-mom-daughter">
              <img src="/assets/images/image-mom-daughter.png" />
            </div>
            <div class="dotted-border-bottom mobile d-md-none"></div>
          </div>
        </div>
        <div class="pl-0 pl-md-3">
          <h3>Make your organizing more local and participatory</h3>
          <p>ControlShift empowers your members to play more active roles in achieving your mission.</p>
        </div>
        <div class="mobile-graphic-lg mt-3 d-none d-md-block">
          <img class="frame" src="/assets/images/vector-mobile.svg" />
          <img class="screen" src="/assets/images/local-groups-mobile-screen.png" />
        </div>
      </div>

      <div class="col-md-7">
        <div class="tablet-graphic">
          <img class="frame" src="/assets/images/vector-tablet.svg" />
          <img class="screen" src="/assets/images/home-page-screen.png" />
        </div>
        <div class="graphic-bike-container d-none d-sm-block">
          <img src="/assets/images/biker.png" />
        </div>
        <div class="d-flex justify-content-end mobile-graphics">
          <div class="mobile-graphic">
            <img class="frame" src="/assets/images/vector-mobile.svg" />
            <img class="screen" src="/assets/images/campaigns-by-you-screen.png" />
          </div>
          <div class="mobile-graphic">
            <img class="frame" src="/assets/images/vector-mobile.svg" />
            <img class="screen" src="/assets/images/coworker-mobile-screen.png" />
          </div>
        </div>
      </div>

      <div class="col-md-1 d-none d-md-block">
        <center>
          <div class="dotted-border-right">
            <div class="dotted-border-top" style=""></div>
            <div class="dotted-border-bottom desktop"></div>
          </div>
        </center>
        <center><img src="/assets/images/image-man-walking.png" /></center>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-white text-black">
  <div class="container p-0">
    <div class="row pt-5" id="selling-points-1">
      <div class="col-md-4 selling-point">
        <img src="/assets/images/reliability.svg" />
        <h5>Battle-tested reliability</h5>
        <p>Organize at massive scale with infrastructure built for redundancy, security, and privacy.</p>
      </div>
      <div class="col-md-4 selling-point">
        <img src="/assets/images/global-reach.svg" />
        <h5>Global reach</h5>
        <p>Fully internationalized with support for 15 languages including right-to-left languages like Arabic and Hebrew.</p>
      </div>
      <div class="col-md-4 selling-point">
        <img src="/assets/images/organizing.svg" />
        <h5>Organizing expertise baked in</h5>
        <p>We’re not just a software vendor but a team of organizers with a deep commitment to progressive change.</p>
      </div>
    </div>

    <hr class="mt-2" />

    <div class="row mt-2" id="selling-points-2">
      <div class="col-md-4 selling-point">
        <img src="/assets/images/tools.svg" />
        <h5>Works with the tools you already use</h5>
        <p>We deeply integrate with the tech you already use, and integrate seamlessly with your CRM.</p>
      </div>
      <div class="col-md-8">
        <div class="row text-center">
          <div class="col-4 p-2">
            <img src="/assets/images/logo-everyaction.png" class="img-fluid faded" alt="Logo for Every Action" />
          </div>
          <div class="col-4 p-2">
            <img src="/assets/images/logo-bsd.png" class="img-fluid faded" alt="Logo for Blue State Digital" />
          </div>
          <div class="col-4 p-2">
            <img src="/assets/images/logo-nationbuilder.png" class="img-fluid faded" alt="Logo for Nationbuilder" />
          </div>
        </div>
        <div class="row text-center">
          <div class="col-3 p-2">
            <img src="/assets/images/logo-engaging-networks.png" class="img-fluid faded" alt="Logo for Engaging Networks" />
          </div>
          <div class="col-3 p-2">
            <img src="/assets/images/logo-salesforce.png" class="img-fluid faded" alt="Logo for Salesforce" />
          </div>
          <div class="col-3 p-2">
            <img src="/assets/images/logo-actionkit.png" class="img-fluid faded" alt="Logo for ActionKit" />
          </div>
          <div class="col-3 p-2">
            <img src="/assets/images/logo-salsa.png" class="img-fluid faded" alt="Logo for Salsa" />
          </div>
        </div>
      </div>
    </div>

    <hr class="mt-2"  />

    <div class="row mt-2" id="selling-points-3">
      <div class="col-md-4 selling-point">
        <img src="/assets/images/analytics.svg" />
        <h5>Big data analytics</h5>
        <p>Out-of-the-box integration with Amazon Redshift and other SQL databases to get your organizing data into your data warehouse.</p>
      </div>
      <div class="col-md-4 selling-point">
        <img src="/assets/images/api.svg" />
        <h5>Powerful API</h5>
        <p>Use our powerful API to integrate organizing experience into microsites or other toolset.</p>
      </div>
      <div class="col-md-4 selling-point">
        <img src="/assets/images/data.svg" />
        <h5>Own your data</h5>
        <p>We'll never share or sell your supporters’ information.</p>
      </div>
    </div>

    <div class="row mt-4 pb-5" id="get-in-touch">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h2><center>Get in touch for a demo or to learn more.</center></h2>
        <div class="text-center">
          <a href="" class="btn btn-secondary text-white">Let's Talk</a>
        </div>
      </div>
    </div>
  </div>
</div>


