---
layout: default
---

<div class="container">
  <div class="row mt-md-4 mt-2 hero" id="hero">
    <div class="col-lg-5">
      <h1>
        Members into leaders.
        <span class="highlight">Campaigns into movements.</span>
      </h1>
      <p class="description">ControlShift is the best software for putting people at the center of your campaigns with distributed events, local groups, and member-led petitions.</p>
      <a role="button" class="btn btn-primary lets-talk" href="https://go.controlshift.app/signups/new">Sign Up</a>
    </div>
    <div id="hero-image-xl" class="row-full">
      <img src="/assets/images/home/hero.svg" alt="" />
    </div>
  </div>

  <div class="row mt-md-5 mt-3 mt-sm-5" id="trusted-by">
    <div class="col-md-12">
      <div class="card bg-dark border-0">
        <div class="card-body pl-3 pr-3 pb-2 pt-2 pb-sm-0 pt-sm-0">
          <div class="row">
            <div class="col-md-5 d-flex align-items-center">
              <span class="align-middle">Trusted by organizations in 25 countries including:</span>
            </div>
            <div class="col-md-7">
              <div class="row text-center">
                <div class="col-lg-3 col-sm-6 mt-0 mt-sm-1 mb-sm-1">
                  <img src="/assets/images/logos/logo-350.png" alt="Logo for 350.org" class="img-fluid" />
                </div>
                <div class="col-lg-3 col-sm-6 mt-0 mt-sm-2 mb-sm-1">
                  <img src="/assets/images/logos/logo-united-we-dream.png" alt="Logo for United We Dream" class="img-fluid" />
                </div>
                <div class="col-lg-3 col-sm-6 mt-0 mt-sm-1 mb-sm-1">
                  <img src="/assets/images/logos/logo-moveon.png" alt="Logo for MoveOn" class="img-fluid" />
                </div>
                <div class="col-lg-3 col-sm-6 mt-0 mt-sm-1 mb-sm-1">
                  <img src="/assets/images/logos/logo-color-of-change.png" alt="Logo for Color of Change" class="img-fluid" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  {% include key-features.html %}
</div>
<div class="container-fluid bg-light text-black">
  <div class="container p-0">
    <div class="row pt-2 pt-md-4" id="map-section">
      <div class="col-md-4 order-md-1">
        <div class="mt-2 mb-2 mt-md-4 mb-md-4">
          <div class="graphic-people-container">
            <div class="graphic-people" id="people-local-group">
              <img src="/assets/images/home/image-peeps-sign.png" alt="" />
            </div>
            <div class="graphic-people" id="people-mom-daughter">
              <img src="/assets/images/home/image-mom-daughter.png" alt="" />
            </div>
            <div class="dotted-border-bottom mobile d-md-none"></div>
          </div>
        </div>
        <div class="pl-0 pl-md-3">
          <h3 class="line-height-medium">Make your organizing more local and participatory</h3>
          <p class="line-height-large">ControlShift empowers your members to play more active roles in achieving your mission.</p>
        </div>
        <div class="mobile-graphic-lg mt-3 d-none d-md-block">
          <img class="frame" src="/assets/images/devices/vector-mobile.svg" alt="" />
          <div class="screen">
            <picture>
              <source srcset="/assets/images/home/local-groups-mobile-screen.webp" type="image/webp">
              <img src="/assets/images/home/local-groups-mobile-screen.png" alt="Example usage of local groups on a mobile device" />
            </picture>
          </div>
        </div>
      </div>

      <div class="col-md-7 pl-0 pr-0 pl-md-1 pr-md-1">
        <h5 class="d-block d-md-none mt-3 pr-1 pl-1">Read Our Case Studies:</h5>
        <div class="d-block d-md-none">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner mobile-graphics">
              <div class="carousel-item active">
                <div class="mobile-graphic left">
                  <img class="frame" src="/assets/images/devices/vector-mobile.svg" alt="" />
                  <a href="/case-study/38-degrees/" class="screen">
                    <picture>
                      <source srcset="/assets/images/home/campaigns-by-you-screen.webp" type="image/webp">
                      <img src="/assets/images/home/campaigns-by-you-screen.png" alt="Example of a user starting a campaign" />
                    </picture>
                    <div class="case-study-label">Read Case Study</div>
                  </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="mobile-graphic right">
                  <img class="frame" src="/assets/images/devices/vector-mobile.svg" alt="" />
                  <a href="/case-study/coworker" class="screen">
                    <picture>
                      <source srcset="/assets/images/home/coworker-mobile-screen.webp" type="image/webp">
                      <img src="/assets/images/home/coworker-mobile-screen.png" alt="Example of a petition" />
                    </picture>
                    <div class="case-study-label">Read Case Study</div>
                  </a>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="d-none d-md-block tablet-graphic">
          <img class="frame" src="/assets/images/devices/vector-tablet.svg" alt="" />
          <picture class="screen">
            <source srcset="/assets/images/home/home-page-screen.webp" type="image/webp">
            <img src="/assets/images/home/home-page-screen.png" alt="Example of how a homepage looks" />
          </picture>
        </div>
        <div class="d-none d-md-block">
          <div class="graphic-bike-container d-none d-sm-block">
            <img src="/assets/images/home/biker.png" alt="" />
          </div>
          <div class="d-flex justify-content-end mobile-graphics">
            <div class="mobile-graphic left">
              <img class="frame" src="/assets/images/devices/vector-mobile.svg" alt="" />
              <a href="/case-study/38-degrees/" class="screen">
                <picture>
                  <source srcset="/assets/images/home/campaigns-by-you-screen.webp" type="image/webp">
                  <img src="/assets/images/home/campaigns-by-you-screen.png" alt="Example of a user starting a campaign" />
                </picture>
                <div class="case-study-label">Read Case Study</div>
              </a>
            </div>
            <div class="mobile-graphic right">
              <img class="frame" src="/assets/images/devices/vector-mobile.svg" alt="" />
              <a href="/case-study/coworker" class="screen">
                <picture>
                  <source srcset="/assets/images/home/coworker-mobile-screen.webp" type="image/webp">
                  <img src="/assets/images/home/coworker-mobile-screen.png" alt="Example of a petition" />
                </picture>
                <div class="case-study-label">Read Case Study</div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-1 d-none d-md-block center-content">
        <div class="dotted-border-right">
          <div class="dotted-border-top" style=""></div>
          <div class="dotted-border-bottom desktop"></div>
        </div>
        <div>
          <img src="/assets/images/home/image-man-walking.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-white text-black">
  <div class="container p-0">
    <div class="row pt-5" id="selling-points-1">
      <div class="col-md-4 selling-point">
        {% include selling-points/reliability.html %}
      </div>
      <div class="col-md-4 selling-point">
        {% include selling-points/global-reach.html %}
      </div>
      <div class="col-md-4 selling-point">
        {% include selling-points/expertise.html %}
      </div>
    </div>

    <hr class="mt-2" />

    <div class="row mt-2" id="selling-points-2">
      <div class="col-md-4 selling-point">
        <img src="/assets/images/tools.svg" alt="" />
        <h5>Works with the tools you already use</h5>
        <p class="line-height-large">We deeply integrate with the tech you already use, and integrate seamlessly with your CRM.</p>
      </div>
      <div class="col-md-8 d-flex align-items-center text-center" id="integration-images-container">
        {% include integrations/crm-grid.html %}
      </div>
    </div>

    <hr class="mt-2"  />

    <div class="row mt-2" id="selling-points-3">
      <div class="col-md-4 selling-point">
        {% include selling-points/analytics.html %}
      </div>
      <div class="col-md-4 selling-point">
        {% include selling-points/powerful-api.html %}
      </div>
      <div class="col-md-4 selling-point">
        {% include selling-points/your-data.html %}
      </div>
    </div>

    {% include get-in-touch.html %}
  </div>
</div>


