---
layout: default
---
<div class="container-fluid bg-white text-black blog">
    <div class="container">
        <div class="row justify-content-center pb-4 pt-4">
            <div class="col-md-8">
                <a href="/blog" class="section-link"><h4>ControlShift Blog</h4></a>
            </div>

            <div class="col-md-8">
                <article class="post">

                    <h1>{{ page.title }}</h1>

                    {% assign post = page %}
                    {% include post_metadata.html %}


                    <div class="entry">
                        {{ content }}
                    </div>
                </article>
            </div>

            <div class="col-md-8">
                <!-- Pagination links -->
                <nav>
                    <ul class="pagination">
                        {% if page.previous.url %}
                        <li class="page-item">
                            <a href="{{ page.previous.url }}" class="page-link">
                                Previous
                            </a>
                        </li>

                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        {% endif %}

                        {% if page.next.url %}
                        <li class="page-item">
                            <a href="{{ page.next.url }}" class="page-link">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>
