---
layout: default
---

<div class="container sector-header">
  <div class="row mt-3">
    <div class="col-md-6 sector">
      {% if page.slug == 'electoral' %}
        <img class="img-fluid sector-image" src="/assets/images/sectors/hero/electoral-active.svg" alt="" />
      {% else %}
        <a href="/sector/electoral/"><img class="img-fluid sector-image" src="/assets/images/sectors/hero/electoral-inactive.svg" alt="" /></a>
      {% endif %}
      <div class="label">
        {% if page.slug == 'electoral' %}
          <p>Electoral</p>

          <h1 class="mt-3">
            Find leaders. Scale your organizing.
            <span class="highlight">Win.</span>
          </h1>
        {% else %}
          <a href="/sector/electoral/">Electoral</a>
        {% endif %}
      </div>
    </div>


    <div class="col-md-6 sector advocacy">
      {% if page.slug == 'advocacy' %}
        <img class="img-fluid sector-image advocacy-image" src="/assets/images/sectors/hero/advocacy-active.svg" alt="" />
      {% else %}
        <a href="/sector/advocacy/">
          <img class="img-fluid sector-image advocacy-image" src="/assets/images/sectors/hero/advocacy-inactive.svg" alt="" />
        </a>
      {% endif %}
      <div class="label">
        {% if page.slug == 'advocacy' %}
          <p>Advocacy</p>
        {% else %}
          <a href="/sector/advocacy/">Advocacy</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-white text-black">
  <div class="container">
    {{content}}
  </div>
</div>

{% include page-footer.html %}
